		# need private/work and other [user "hoge"] parameter
	identity = "!f () {\
		if [ \"${#}\" -lt 1 ]; then\
			list=$(git config --get-regexp '^user\\..*\\.name' | sed -e 's/^user\\.//' | awk '{print $1}' | sed -e 's/.name//');\
			common_opt=\"--prompt=name>\";\
			if which fzf >/dev/null 2>&1; then\
				add_opt=\"--header=config\";\
				name=$(echo \"${list}\" | fzf ${common_opt} ${add_opt}\
					--preview=\"git config --get-regexp '^user\\.{}' | sed -e 's/^user\\.{}\\.//' | sed -e 's/ /|/' | column -t -s '|'\");\
			elif which peco >/dev/null 2>&1; then\
				name=$(echo \"${list}\" | peco ${common_opt});\
			else\
				echo \"not support argment less than 1\";\
			fi;\
		else\
			name=\"${1}\";\
		fi;\
		if [ -n \"${name}\" ]; then\
			git config --local user.name       \"$(git config user.${name}.name)\";      \
			git config --local user.email      \"$(git config user.${name}.email)\";     \
			git config --local user.signingkey \"$(git config user.${name}.signingkey)\";\
			git config --local commit.gpgSign  \"$(git config user.${name}.gpgSign)\";   \
			git config --local tag.gpgSign     \"$(git config user.${name}.gpgSign)\";   \
		fi;\
	};f"
